.Python {
    background-color: #ffffff;
    white-space: pre;
}
.deeporange {
    color: rgb(255, 136, 0);
}

.deepred {
    color: rgb(218, 52, 31);
}

.seablue {
    color: rgb(105, 152, 253);
}

.lightblue {
    color: rgb(94, 223, 255);
}

.green {
    color: rgb(0, 218, 11);
}

.grey {
    color: rgb(172, 172, 172);
}